body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  font-family: 'Montserrat', sans-serif;
}
::-webkit-scrollbar {
  width: 0.45rem;
  height: 0.45rem;
}

::-webkit-scrollbar-track {
  border-radius: 3rem;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb:active {
  background: rgba(7, 7, 7, 0.9);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.workspace-main{
  max-height: 80%;
  margin: 5%;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
  width:80%;
  position:relative;
}

.make-center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.table-workspace{
  margin-top: 300px;
  margin-left: 300px;
}

.table-wrapper{
  box-shadow: 3px 3px 21px -6px;    
  border-radius: 5px;
  /* border: solid 1px rgba(114, 114, 114, 0.842); */
  background-color: white;
}

.table-title-bar{
  background-color: #2124ee;
  padding: 10px;
  color: white; 
  border-radius: 5px 5px 0 0 ;
  padding: 10px;
}

.table-title{
margin-left: 10px;
cursor: pointer;
}

/* File uploading section --------------------------------------- */
.file-upload-section {
  justify-content: center;
  text-align: center;
}

.file-upload-section input[type="file"] {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  background-color: white;
  margin-bottom: 2px;
}

.file-upload-section input[type="file"]:hover {
  border-color: grey;
}

.file-upload-section input[type="file"]:active {
  border-color: darkgrey;
  background-color: #f7f7f7;
}
/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~*/

/* sheet select sections --------------------------------------- */
.change-sheet Button{
  margin-bottom: 5px;
}
.change-sheet Button.active {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~*/  
.icon {
  color: rgb(255, 145, 131);
  padding: 0.5em;
}

.icon:hover {
  cursor: pointer;
}

.menu-icon:hover {
  filter: brightness(0.85);
  color:white;
}

span.drawer-description{
  margin: 10px 0 0 10px;
  transition: opacity 0.1s;
}


.not-logged-in{
  cursor: pointer;
}

.spread-items{
   display: flex;
   justify-content: space-between;
   align-Items: center;
}

.top-right-header{
  height:50%;
}

.tb-title-holder{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
padding-right: 50px;
margin-bottom: 30px;
margin-top: 20px;
}

.app-bar .MuiTypography-root{
  display: flex;
   align-Items: center;
}

.resizable-card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;
  border-radius: 10px;
}
  
.card-content{
width:100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding: 20px;
}

.card-popup-controls {
  position: absolute;
  width: 25px;
  height: 25px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  color:gray;
}

.resizable-card:hover .card-popup-controls {
  opacity: 1;
}

.card-resize-handle {
  bottom: -5px;
  right: -5px;
  cursor: grab;
  transform: rotate(90deg);
}

.card-delete-button {
  top: -5px;
  right: -5px;
  cursor: pointer;
}

.card-edit-title-button{
  top: -5px;
  left: -5px;
  cursor: pointer;
}

.dv-options-menu{
  overflow: auto;
  width: 100%;
}

.visual-option-menu{
width:100%; 
padding-bottom: 10px;
padding-left: 15px;
}

.visual-option-bottom-handle {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 15px -10px;
  display: flex;
  justify-content: center;
  background-color: white;
}

.visual-option-bottom-handle .controls-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.layout-icon{
  transform: rotate(0);
}

.layout-horizontal {
  animation: rotateToHorizontal .2s forwards;
}

.layout-vertical {
  animation: rotateToVertical .2s forwards;
}

@keyframes rotateToVertical {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(90deg); }
}

@keyframes rotateToHorizontal {
  0% { transform: rotate(90deg); }
  100% { transform: rotate(0deg); }
}

.option-menu-grid-row{
  align-items: center;
  display: flex;
  width:100%;
}

.resize-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.top-section,
.bottom-section {
  overflow: auto;
}

.resize-handle {
  width: 100%;
  height: 10px;
  cursor: row-resize;
  background-color: #ccc;
}

/* Optional styling for the handle */
.resize-handle:hover {
  background-color: #ddd;
}

.alert-wrapper{
  position: absolute;
  z-index: 9999;
}

.center-item {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.center-item-up-down{
  align-items: center;
  display: flex;
}

.vo-card-container {
display: flex;
justify-content: space-evenly;
align-items: center;
flex-wrap: wrap;
align-content: center;
}

.vo-card {  
width:200px;
height: 300px;
margin: 20px;
border-radius: 15px ;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
cursor: pointer;
box-shadow: 0px 0px 32px -24px rgba(0,0,0,1);
-webkit-box-shadow: 0px 0px 32px -24px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 32px -24px rgba(0,0,0,1);
}

.vo-card:hover {
  box-shadow: 0px 0px 50px -24px #6350f2;
  -webkit-box-shadow: 0px 0px 32px -24px #6350f2;
  -moz-box-shadow: 0px 0px 32px -24px #6350f2;
  transform: scale(1.04);
}

.vo-selected{
  background-color:   #DFF250;
  box-shadow: 0px 0px 16px -5px rgba(99,80,242,1);
  -webkit-box-shadow: 0px 0px 16px -5px rgba(99,80,242,1);
  -moz-box-shadow: 0px 0px 16px -5px rgba(99,80,242,1);
}