.content {
  max-height: 80%;
  margin: 5%;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
  width:80%;
  /* font-family: 'Wix Madefor Display', sans-serif; */
}

.table-workspace{
  margin-top: 30vh;
  position:relative;
  display: flex;
  align-items: center; /* Vertically center the centered element */
  justify-content: center; 

}
/* File uploading section --------------------------------------- */
.file-upload-section {
  justify-content: center;
  text-align: center;
}

.file-upload-section input[type="file"] {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  background-color: white;
  margin-bottom: 2px;
}

.file-upload-section input[type="file"]:hover {
  border-color: grey;
}

.file-upload-section input[type="file"]:active {
  border-color: darkgrey;
  background-color: #f7f7f7;
}
/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~*/

/* sheet select sections --------------------------------------- */
.change-sheet Button{
  margin-bottom: 5px;
}
.change-sheet Button.active {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~*/  
.icon {
  color: rgb(255, 145, 131);
  padding: 0.5em;
}

.icon:hover {
  cursor: pointer;
}
